pkgbase = lmp
	pkgdesc = Lightweight media player
	pkgver = 1.0.4
	pkgrel = 1
	url = https://github.com/derekporcelli/lmp
	arch = x86_64
	license = GPL
	depends = python
	depends = mpv
	source = lmp
	source = lmp.conf
	sha256sums = a439b68e632bac86bcc25e96d467631e96b823e064162b090cedd59c4a9aaae4
	sha256sums = 68764f6f46906d9e88bc95b5bccae8b220079031d8a887fbbde3e80f9ac7e65b

pkgname = lmp
