pkgbase = lmp
	pkgdesc = Lightweight media player
	pkgver = 1.0.1
	pkgrel = 1
	url = https://github.com/derekporcelli/lmp
	arch = x86_64
	license = GPL
	depends = python
	depends = mpv
	source = lmp
	source = lmp.conf
	sha256sums = 088edfb6e5bc0cf3d01f0a3e4d3fc938d8d2738943cff7be33f85db33ddb8670
	sha256sums = 68764f6f46906d9e88bc95b5bccae8b220079031d8a887fbbde3e80f9ac7e65b

pkgname = lmp
