pkgbase = lmp
	pkgdesc = Lightweight media player
	pkgver = 1.0.7
	pkgrel = 1
	url = https://github.com/derekporcelli/lmp
	arch = x86_64
	license = GPL
	depends = python
	depends = mpv
	source = lmp
	source = lmp.conf
	sha256sums = 2d1cb8bd073f14066aba9f1384177cfabf6e7b61d15e26d8f9eb01284a7f00a6
	sha256sums = 68764f6f46906d9e88bc95b5bccae8b220079031d8a887fbbde3e80f9ac7e65b

pkgname = lmp
